/* body  {
    background: #fafafa;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%), 0 0 300px 25px rgb(222 198 122 / 70%) inset;
    padding: 4.3%;

} */

h1{
    text-align: center;
}

body{
  color: #000000 !important;
}

.box{
    display: flex;
    justify-content: center;
}

.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    backdrop-filter: blur(10px);
    z-index:1;
    display:none;
  }
  
  .popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height: 108px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
  
  .popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
    background: #222;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
  }
  
  .popup.active .overlay {
    display:block;
  }
  
  .popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }



	.light-mode-button {
    background:0;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      width: 30px;
      height: 16px;
      position: relative;
      border: 1px solid rgba(255,255,255,0);

      /* Fixed position for this demo */
      position: fixed;
      top:16px;
      right:16px;
  }

  .light-mode-button:focus {
    outline:none; /* Not ideal for accessibility */
  }

  .light-mode-button span:nth-child(1) {
    position: absolute;
    top:0;
      left:0;
      width: 30px;
      height:16px;
      background-color: #d6d7db;
      border-radius: 9px;
      box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
      transition: .3s;
  }

  .light-mode-button span:nth-child(2) {
    position: absolute;
    top:3px;
      left:3px;
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
      transition: .3s;
  }


  body {
    background-image: linear-gradient(90deg, #ffffff, #fbfbff);
          transition: background-color .3s;
      }

  body[light-mode=dark] {
    background-image: linear-gradient(90deg, #00001c, #00001c);
          color: #ffffff !important;
      }

      body[light-mode="dark"] .light-mode-button span:nth-child(1){
        background-image: linear-gradient(90deg, #ffffff, #fbfbff);
        color: #000000 !important;
      }

      body[light-mode=dark] .light-mode-button span:nth-child(2) {
      left: 17px;
      background-image: linear-gradient(90deg, #00001c, #00001c);
  }