{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Quote maker {% endblock %}</h1>
<div class="popup" id="popup-1">
  <div class="overlay"></div>
  <div class="content">
    <div class="close-btn" onclick="togglePopup()">&times;</div>
    <p>Hello! this is a simple quote generator with the ability to download it. Once you download a quote, it will be deleted and you will need to re-create if necessary ฅ^•ﻌ•^ฅ</p>
  </div>
</div>

    <div class="box">
    <form action="{{ url_for('QuoteMaker') }}" method="post">
            <input type="text" placeholder="Enter your quote..." name="entry_quote" >
            <input type="text" placeholder="Who said it? (Optional)"  name="entry_tag" >
            <input type="color" id="head" name="color">
            <label for="color">Color</label>
            <input type="submit" class="btn btn-outline-info" name=createquaote value="Create" />  
    </form>

    <form action="{{ url_for('dowlandMaker') }}" method="post">
            <input type="submit" class="btn btn-outline-success" name="dowland" value="Dowland" />
    </form>
</div>

    <center>
        <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
      </center>
      <center >
        <img id="example" src="/static/quote.png">
      </center>
    {% endblock %}


    
      

